p {
	margin:0 0 10px 0;
}

h1 {
	text-align: center;
}

.main {
	display:flex;
}

.menu {
	margin: 0 30px 0 0;
}

a{
	color:#FFDAB9;
	text-decoration:none;
}

#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
	width: 160px;
}

#navbar li {
	border-bottom: 1px solid #FFEFD5;
}

#navbar a {
	background-color: #FFDAB9;
    color: #000000;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-left: 0px solid #33ADFF;
    display: block;}
}
